.zippy {
    margin-top: 20px;
}

.zippy-heading {
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.zippy-body {
    padding: 20px;
    width: 50%;
}

.expanded {
    background: #f0f0f0;
}

.glyphicon {
    font-size: 15px;
    float: right;
}